In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
a=pd.read_csv('/content/train.csv')
x=a.drop("price_range",axis=1)
y= a["price_range"]
print(x)
print(y)
scaler = MinMaxScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)
print(x_scaled)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]
0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64
[[0.22778891 0.         0.68       ... 0.         0.         1.        ]
 [0.34736139 1.         0.         ... 1.         1.         0.        ]
 [0.04141617 1.         0.         ... 1.         1.         0.        ]
 ...
 [0.94188377 0.         0.16       ... 1.         1.         0.        ]
 [0.6753507  0.         0.16       ... 1.         1.         1.        ]
 [0.00601202 1.         0.6        ... 1.         1.         1.        ]]

In [14]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.30)
print(x_train.shape)
print(x_train)

(1400, 20)
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
485            1277     0          3.0         0   0       1          41
866            1664     1          2.9         1   9       1          15
686            1527     0          2.7         0  10       1          60
1910           1872     1          1.9         0   5       0          35
1969            640     0          1.3         1   5       1           6
...             ...   ...          ...       ...  ..     ...         ...
1697           1152     1          2.1         1   0       1          26
132             645     0          0.5         0   1       0          41
1873           1442     0          0.6         1   1       0          27
330             662     0          0.5         0   5       0          20
894            1497     1          0.7         0   5       0          32

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
485     0.3        200        4   3        902      1090   429     9     4
866     0.5        177        7  19       1178      1929  1968    12     7
686     0.1        154        5  14        526      1116  2078     5     3
1910    0.6        111        3  14       1546      1879  2419    15     5
1969    0.6        143        8  20        976      1353  2711    15     7
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1697    0.3         82        2   0       1304      1673  3284    15     2
132     1.0        197        7  10        327       580  2962    12     9
1873    0.4        127        5   8        266       642   991    14     8
330     0.8        138        1  10       1001      1224  2125    17    15
894     0.7         92        3   9       1920      1933  1329     6     1

      talk_time  three_g  touch_screen  wifi
485          14        1             1     1
866           9        1             0     0
686          11        1             1     1
1910         19        0             0     0
1969          8        1             1     0
...         ...      ...           ...   ...
1697          8        1             0     1
132           4        1             1     1
1873          7        1             0     0
330          15        0             1     1
894           7        1             1     0

[1400 rows x 20 columns]

In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
a=pd.read_csv('/content/heart.csv')
x=a.drop("target",axis=1)
y= a["target"]
print(x)
print(y)
scaler=MinMaxScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)
print(x_scaled)
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.30)
print(x_train.shape)
print(x_train)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64
[[0.70833333 1.         1.         ... 0.         0.         0.33333333]
 [0.16666667 1.         0.66666667 ... 0.         0.         0.66666667]
 [0.25       0.         0.33333333 ... 1.         0.         0.66666667]
 ...
 [0.8125     1.         0.         ... 0.5        0.5        1.        ]
 [0.58333333 1.         0.         ... 0.5        0.25       1.        ]
 [0.58333333 0.         0.33333333 ... 0.5        0.25       0.66666667]]
(212, 13)
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
83    52    1   3       152   298    1        1      178      0      1.2
272   67    1   0       120   237    0        1       71      0      1.0
103   42    1   2       120   240    1        1      194      0      0.8
278   58    0   1       136   319    1        0      152      0      0.0
104   50    1   2       129   196    0        1      163      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
295   63    1   0       140   187    0        0      144      1      4.0
40    51    0   2       140   308    0        0      142      0      1.5
248   54    1   1       192   283    0        0      195      0      0.0
218   65    1   0       135   254    0        0      127      0      2.8
301   57    1   0       130   131    0        1      115      1      1.2

     slope  ca  thal
83       1   0     3
272      1   0     2
103      0   0     3
278      2   2     2
104      2   0     2
..     ...  ..   ...
295      2   2     3
40       2   1     2
248      2   1     3
218      1   1     3
301      1   1     3

[212 rows x 13 columns]

In [18]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.30)
print(x_train.shape)
print(x_train)
print(y_train.shape)
print(y_train)
print(x_test.shape)
print(x_test)
print(y_test.shape)
print(y_test)

(212, 13)
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
138   57    1   0       110   201    0        1      126      1      1.5
171   48    1   1       110   229    0        1      168      0      1.0
301   57    1   0       130   131    0        1      115      1      1.2
62    52    1   3       118   186    0        0      190      0      0.0
72    29    1   1       130   204    0        0      202      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
208   49    1   2       120   188    0        1      139      0      2.0
144   76    0   2       140   197    0        2      116      0      1.1
31    65    1   0       120   177    0        1      140      0      0.4
101   59    1   3       178   270    0        0      145      0      4.2
68    44    1   1       120   220    0        1      170      0      0.0

     slope  ca  thal
138      1   0     1
171      0   0     3
301      1   1     3
62       1   0     1
72       2   0     2
..     ...  ..   ...
208      1   3     3
144      1   0     2
31       2   0     3
101      0   0     3
68       2   0     2

[212 rows x 13 columns]
(91, 13)
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
97    52    1   0       108   233    1        1      147      0      0.1
63    41    1   1       135   203    0        1      132      0      0.0
88    54    0   2       110   214    0        1      158      0      1.6
249   69    1   2       140   254    0        0      146      0      2.0
57    45    1   0       115   260    0        0      185      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
59    57    0   0       128   303    0        0      159      0      0.0
112   64    0   2       140   313    0        1      133      0      0.2
119   46    0   0       138   243    0        0      152      1      0.0
280   42    1   0       136   315    0        1      125      1      1.8
152   64    1   3       170   227    0        0      155      0      0.6

     slope  ca  thal
97       2   3     3
63       1   0     1
88       1   0     2
249      1   3     3
57       2   0     2
..     ...  ..   ...
59       2   1     2
112      2   0     3
119      1   0     2
280      1   0     1
152      1   0     3

[91 rows x 13 columns]
(212,)
138    1
171    0
301    0
62     1
72     1
      ..
208    0
144    1
31     1
101    1
68     1
Name: target, Length: 212, dtype: int64
(91,)
97     1
63     1
88     1
249    0
57     1
      ..
59     1
112    1
119    1
280    0
152    1
Name: target, Length: 91, dtype: int64